## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Apatou,GF,5.1550,-54.3472,76.42,92,95,3.22,overcast clouds
1,1,Cavaillon,FR,43.8312,5.0359,79.79,69,0,3.44,clear sky
2,2,Albany,US,42.6001,-73.9662,86.65,55,99,6.20,overcast clouds
3,3,Tasiilaq,GL,65.6145,-37.6368,41.16,78,67,5.14,broken clouds
4,4,Sechura,PE,-5.5569,-80.8222,69.06,66,4,17.02,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Apatou,GF,5.1550,-54.3472,76.42,92,95,3.22,overcast clouds
1,1,Cavaillon,FR,43.8312,5.0359,79.79,69,0,3.44,clear sky
2,2,Albany,US,42.6001,-73.9662,86.65,55,99,6.20,overcast clouds
5,5,Bethel,US,41.3712,-73.4140,80.69,70,0,5.75,clear sky
6,6,Atuona,PF,-9.8000,-139.0333,78.12,78,12,19.77,few clouds
9,9,Tabas,IR,33.5959,56.9244,85.75,12,0,5.57,clear sky
12,12,Catia La Mar,VE,10.6038,-67.0303,78.64,92,49,10.87,scattered clouds
29,29,Palmer,US,42.1584,-72.3287,83.01,63,75,9.22,broken clouds
31,31,Hithadhoo,MV,-0.6000,73.0833,79.07,78,100,20.94,light rain
33,33,Dawlatabad,AF,36.4141,64.9053,83.88,13,0,3.80,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                254
City                   254
Country                254
Lat                    254
Lng                    254
Max Temp               254
Humidity               254
Cloudiness             254
Wind Speed             254
Current Description    254
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Apatou,GF,5.1550,-54.3472,76.42,92,95,3.22,overcast clouds
1,1,Cavaillon,FR,43.8312,5.0359,79.79,69,0,3.44,clear sky
2,2,Albany,US,42.6001,-73.9662,86.65,55,99,6.20,overcast clouds
5,5,Bethel,US,41.3712,-73.4140,80.69,70,0,5.75,clear sky
6,6,Atuona,PF,-9.8000,-139.0333,78.12,78,12,19.77,few clouds
...,...,...,...,...,...,...,...,...,...,...
684,684,Katobu,ID,-4.9408,122.5276,78.73,79,96,6.26,overcast clouds
686,686,Porto Nacional,BR,-10.7081,-48.4172,78.80,35,2,2.68,clear sky
687,687,Crotone,IT,39.0851,17.1178,84.20,56,0,10.47,clear sky
689,689,Elat,IL,29.5581,34.9482,82.24,44,0,10.36,clear sky
690,690,Bambanglipuro,ID,-7.9500,110.2833,76.48,85,95,6.04,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Apatou,GF,76.42,overcast clouds,5.1550,-54.3472,
1,Cavaillon,FR,79.79,clear sky,43.8312,5.0359,
2,Albany,US,86.65,overcast clouds,42.6001,-73.9662,
5,Bethel,US,80.69,clear sky,41.3712,-73.4140,
6,Atuona,PF,78.12,few clouds,-9.8000,-139.0333,
9,Tabas,IR,85.75,clear sky,33.5959,56.9244,
12,Catia La Mar,VE,78.64,scattered clouds,10.6038,-67.0303,
29,Palmer,US,83.01,broken clouds,42.1584,-72.3287,
31,Hithadhoo,MV,79.07,light rain,-0.6000,73.0833,
33,Dawlatabad,AF,83.88,clear sky,36.4141,64.9053,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Apatou,GF,76.42,overcast clouds,5.1550,-54.3472,Yoto quensha
1,Cavaillon,FR,79.79,clear sky,43.8312,5.0359,Hôtel Toppin
5,Bethel,US,80.69,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
6,Atuona,PF,78.12,few clouds,-9.8000,-139.0333,Villa Enata
9,Tabas,IR,85.75,clear sky,33.5959,56.9244,شرکت معماری مهراز شایگان آراد
...,...,...,...,...,...,...,...
684,Katobu,ID,78.73,overcast clouds,-4.9408,122.5276,La Ode Husein
686,Porto Nacional,BR,78.80,clear sky,-10.7081,-48.4172,Vila Real Hotel
687,Crotone,IT,84.20,clear sky,39.0851,17.1178,Helios Hotel
689,Elat,IL,82.24,clear sky,29.5581,34.9482,Club Hotel Eilat
690,Bambanglipuro,ID,76.48,overcast clouds,-7.9500,110.2833,Puri Brata

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))